@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.effect-4 {
  position: absolute;
  border-top: 35px solid transparent;
  border-left: 35px solid #06d79c;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}

.effect-4::before {
  content: '';
  position: absolute;
  border-top: 35px solid transparent;
  border-left: 35px solid #06d79c;
  opacity: 0.5;
  left: -40px;  
  top: -30px; }

  .effect-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}


@keyframes topBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

.effect-2 {
  animation: topBounce 3s ease-in-out infinite;  
}

.effect-2 div {
  height: 4px;
  width: 4px;
  background-color: #ff9c07;
  margin: 2px 2px;
}

.effect-5 {
  height: 50px;
  width: 50px;
  right: 8%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 4px;
  background-color: #4dd0e1;
  opacity: 0.3;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

